@using OnBoardService.Models
@{
    ViewBag.Title = "GMD";
}

<h2>GMD</h2>
<div class="container">
    <ul class="list-group">
        @{
            foreach (GMDTalkShow ts in GMDTalkShowUtility.Instance.ShowList)
            {
                <li class="list-group-item list-group-item-success">
                    @ts.Title
                    <a href="@ts.Links[0].Url" target="_blank">L1</a>
                    <a href="@ts.Links[1].Url" target="_blank">L2</a>
                    <a href="@ts.Links[2].Url" target="_blank">L3</a>
                </li>
            }
        }
    </ul>
</div>
